/* Language Packs Component */
div.languages .applications-info {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
  	padding: 5px;
}
div.languages div.languages-versions {
    display: flex;
    margin: 0;
    flex-wrap: wrap-reverse;
    justify-content: center;
  	margin-bottom: 25px;
}

div.languages div.languages-versions::before, div.languages div.languages-versions::after {
    display: table;
    line-height: 0;
    content: "";
}

div.languages div.languages-versions > div {
    min-height: unset !important;
    width: auto !important;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 3px;
    margin-bottom: 20px;
    float: none;
}

div.languages div.languages-versions h2 {
    color: #fff;
    background-color: #122748;
    text-align: center;
    padding: 10px;
}
div.languages div.languages-versions h2 a {
    color: #fff;
}
